#woman {
  animation-name: up-down;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-direction: alternate;
}

@keyframes up-down {
  0% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(30px);
  }
}

$width-img: 200px;
$height-img: 191px;

.box {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  position: relative;

  .girlImage1 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      width: $width-img;
      height: $height-img;
    }
  }

  .info {
    h1 {
      color: rgb(158, 12, 158);
    }

    p {
      text-align: justify;
      font-size: 16px;
    }
  }
}


// @media screen and (min-width: 800px) {
//   .box {
//     flex-wrap: wrap;
//     padding: 10px !important;

//     .info {
//       padding: 20px 10px !important;
//     }

//     .path2 {
//       display: none;
//     }

//     .path1 {
//       display: none;
//     }
//   }
// }