// .card-sign-up {
//     -ms-overflow-style: none; /* for Internet Explorer, Edge */
//     scrollbar-width: none; /* for Firefox */
//     padding: 30px;
//     input {
//         margin: 5px 0;
//     }
// }

// .card-sign-up::-webkit-scrollbar {
//     display: none; /* for Chrome, Safari, and Opera */
// }

// body {
//     margin: 0;
//     padding: 0;
//     font-family: Arial, sans-serif;
//     background: #f0f0f0;
//     /* Màu nền tùy chọn */
// }

//   .bg-image {
//     //height: 100vh; /* Chiều cao bằng chiều cao màn hình */
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .mask {
//       width: 100%; /* Đảm bảo toàn bộ phần tử mask chiếm hết chiều rộng */

.card-sign-up {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    margin-top: 2rem;
    width: 100%;
    max-width: 600px;
    /* Chiều rộng tối đa */
    min-width: 600px;
    /* Chiều rộng tối thiểu */
    overflow-x: auto;
    /* Hiển thị thanh cuộn ngang khi cần */
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .col-12 {
        .card-sign-up {
            width: 100%;
            .card-body {
                .text-uppercase {
                    text-align: center;
                    margin-bottom: 2rem;
                }

                .form-outline {
                    margin-bottom: 1rem;

                    label {
                        display: block;
                        margin-bottom: 0.5rem;
                    }

                    .form-control {
                        &.form-control-lg {
                            width: 100%;
                            padding: 0.5rem;
                            font-size: 1.125rem;
                        }
                    }

                    .message {
                        color: red;
                        font-size: 0.875rem;
                    }
                }

                .btn {
                    &.btn-success {
                        &.btn-block {
                            &.btn-lg {
                                margin-top: 2rem;
                                background: linear-gradient(45deg, #ff6b6b, #f0f0f0);
                            }
                        }
                    }
                }

                .text-center {
                    &.text-muted {
                        margin-top: 2rem;
                        margin-bottom: 0;

                        .fw-bold {
                            .text-body {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}