// header {
//     .header-container {
//         a {
//             white-space: nowrap;
//             text-decoration: none;
//             color: black;

//             &:hover {
//                 color: blue;

//             }
//         }

//         img {
//             width: 40px;
//             height: 40px;
//         }

//         .header-top {
//             display: flex;
//             margin: auto;
//             height: 100px;
//             align-items: center;

//             .header-content {
//                 margin-right: 30px;

//                 .info {
//                     display: block;
//                     text-align: right;
//                     position: relative;

//                     span {
//                         .sub-info {
//                             list-style-type: none;
//                             padding: 0;
//                             position: absolute;
//                             top: calc(100%);
//                             right: 0;
//                             left: 0;
//                             width: 180px;
//                             text-align: left;
//                             display: none;
//                             border: 1px solid gray;
//                             box-shadow: 0 3px 3px 2px #80808024;
//                             z-index: 100;
//                             background-color: white;

//                             li {
//                                 padding: 4px 15px;
//                                 cursor: pointer;

//                                 &:hover {
//                                     background-color: #80808024;
//                                 }
//                             }
//                         }
//                     }

//                     &:hover .sub-info {
//                         display: block;
//                     }
//                 }

//             }


//             .accountt {
//                 .header-top-right {
//                     text-align: right;

//                     span {
//                         position: relative;
//                         padding-bottom: 10px;

//                         &:hover ul {
//                             display: block;
//                             list-style-type: none;
//                             text-decoration: none;

//                         }

//                         .user-action {
//                             padding: 0;
//                             position: absolute;
//                             top: calc(100%);
//                             right: 0;
//                             width: 190px;
//                             left: 0;
//                             text-align: left;
//                             display: none;
//                             border: 1px solid gray;
//                             box-shadow: 0 3px 3px 2px #80808024;
//                             z-index: 100;
//                             background-color: white;

//                             li {
//                                 padding: 4px 15px;
//                                 cursor: pointer;

//                                 &:hover {
//                                     background-color: #80808024;
//                                 }
//                             }
//                         }
//                     }

//                     .auth-container {
//                         display: flex;

//                         .auth {
//                             margin-right: 30px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

header {
    .header-container {
      background-color: white;
      font-size: 14pt;
      position: relative;
      font-family: Georgia, "Times New Roman", Times, serif;
      a {
        white-space: nowrap;
        text-decoration: none;
        color: #000;
        &:hover {
          color: #f11703;
        }
      }
      .active a{
        color: #f11703;
        font-weight: bold;
      }
      .header-nav {
        flex-grow: 1;
        margin-left: 0px;
      }
  
      .nav-list {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
      }
  
      .header-top {
        display: flex;
        margin: 0;
        height: 100px;
        align-items: center;
        justify-content: flex-start;
  
        .header-conten {
          .logo {
            display: flex;
            justify-content: center;
            align-items: left;
            height: 100px;
            margin: 20px auto;
            img {
              max-width: 100%;
              max-height: 100%;
              width: auto;
              height: auto;
              object-fit: contain;
              border-radius: 400px;
              padding-left: 150px;
              padding-right: 200px;
            }
          }
        }
        .header-content {
          width: 150px;
          height: 100%;
          text-align: center ;
          padding-top: 30px;
          padding-left: 0px;
          padding-right: 0px;
          .info {
            display: block;
            position: relative;
            span {
              .sub-info {
                list-style-type: none;
                padding: 0;
                position: absolute;
                top: calc(100%);
                right: 0;
                left: -10px;
                width: 220px;
                text-align: left;
                display: none;
                border: 1px solid gray;
                box-shadow: 0 3px 3px 2px #80808024;
                z-index: 100;
                background-color: #ceeffa;
  
                li {
                  padding: 4px 15px;
                  cursor: pointer;
                }
              }
            }
  
            &:hover .sub-info {
              display: block;
            }
          }
          &:hover {
            background-color: #0d706e;
          }
        }
         
  
        .accountt {
          .header-top-right {
            text-align: center;
            span {
              position: relative;
              padding-bottom: 10px;
              .user-avatar {
                width: 40px; 
                height: 40px; 
                border-radius: 50%; 
                object-fit: cover; 
              }
              
              .default-avatar {
                font-size: 40px;
                color: #000;
              }
              &:hover ul {
                display: block;
                list-style-type: none;
                text-decoration: none;
              }
  
              .user-action {
                padding: 0;
                position: absolute;
                top: calc(100%);
                right: 0;
                width: 165px;
                left: -40px;
                text-align: left;
                display: none;
                border: 1px solid #0d706e;
                box-shadow: 0 3px 3px 2px #80808024;
                z-index: 100;
                background-color: #ceeffa;
  
                li {
                  padding: 4px 15px;
                  cursor: pointer;
  
                }
              }
              .text-capitalize:hover .user-action {
                display: block; 
              }
            }
            .auth-container {
              align-items: center;
              .auth {
                margin-right: 15px;
              }
            }
          }
        }
        
      }
    }
  }