.login-user-container {
  background-color: #f1f0ec;
  padding-top: 5%;
  padding-bottom: 5%;
}


@media screen and (max-width: 800px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 700px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }
}

@media screen and (max-width: 600px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }
}

@media screen and (max-width: 500px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }
}

@media screen and (max-width: 440px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 25% !important;
  }

}

@media screen and (max-width: 430px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }

}

@media screen and (max-width: 420px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }

}
@media screen and (max-width: 410px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }

}


@media screen and (max-width: 400px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }

}

@media screen and (max-width: 390px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }

}

@media screen and (max-width: 380px) {
  .login-user-container {
    padding-top: 10%;
    padding-bottom: 20% !important;
  }

}


@media screen and (max-width: 370px) {
  .login-user-container {
    padding-top: 5%;
    padding-bottom: 20% !important;
  }

}