footer {
    padding: 20px 0;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    margin: 0 0 10px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul ul {
    margin-left: 20px;
}

.footer-content li {
    margin-bottom: 5px;
}

.footer-content a {
    color: black;
    font: 11px;
    text-decoration: none;
}

.footer-content .pay-content img {
    width: 30px;
    margin-left: 20px;
}

.footer-content a:hover {
    text-decoration: none;
}