.footer-container {
    justify-content: center;
    background: #454a4c !important;
    color: #e4e4e4;
    display: flex;
    padding-top: 20px;
    padding-bottom: 9rem;
    padding-right: 10px;
    font-size: 8px;

    .about-us {
        padding-left: 5px;

        p {
            color: #e4e4e4
        }
    }

    .cr-us {
        text-decoration: none;

        li {
            padding-left: 5px;
            list-style: none;

        }
    }

    .contact-us {
        text-wrap: nowrap;

        .social-icons {
            display: flex;

            a {
                font-size: 12px;
                padding-left: 5px;
            }
        }


    }
}

@media (min-width: 800px) {
    .footer-container {
        padding-top: 20px;
        padding-right: 10px;
        font-size: 14px;

        span {
            padding-bottom: 5px;
        }

        .about-us {
            padding-left: 80px;

            p {
                color: #e4e4e4
            }
        }

        .cr-us {
            padding-left: 80px;
            text-decoration: none;

            li {
                padding-left: 20px;
                list-style: none;

            }
        }

        .contact-us {
            padding-left: 80px;
            text-wrap: nowrap;

            .social-icons {
                display: flex;

                a {
                    font-size: 18px;
                    padding-left: 15px;
                }
            }


        }
    }
}