.signup-container {
    display: flex;
    padding-top: 10vh;
    height: 100vh;
    background-color: #f1f0ec;
    align-items: center;
    width: 100%;
    min-width: 1000px;

    .signup-content {
        display: flex;
        justify-content: center;
        .card-signup{
            width: 600px;
            min-width: 500px;
        }

    }

}