.app {
  // max-width: 1200px;
  // width: 100%;
  // margin: 0 auto;
  -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    width: 100%;
    max-width: 100%;
    /* Chiều rộng tối đa */
    min-width: 800px;
    /* Chiều rộng tối thiểu */
    overflow-x: auto;
    background-color: #f5f5f5;
}